parameters:
	ignoreErrors:
		-
			message: "#^Only booleans are allowed in a negated boolean, int\\|false given\\.$#"
			count: 1
			path: src/PrefixValidator.php

		-
			message: "#^Only booleans are allowed in an if condition, int\\|false given\\.$#"
			count: 1
			path: src/SuffixValidator.php
